[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
test = "test"
script = "script"
solc = "0.8.26"
optimizer = true
optimizer_runs = 200
via_ir = false
fs_permissions = [{ access = "read", path = "./web" }]

# Fork testing profile
[profile.fork]
src = "contracts"
out = "out"
libs = ["lib"]
test = "test"
solc = "0.8.26"
optimizer = true
optimizer_runs = 200
eth_rpc_url = "${MAINNET_RPC_URL}"
fork_block_number = 21382000

[profile.default.fmt]
line_length = 100
tab_width = 4
bracket_spacing = false
int_types = "long"
multiline_func_header = "all"
quote_style = "double"
number_underscore = "thousands"

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"
sepolia = "${SEPOLIA_RPC_URL}"

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }
sepolia = { key = "${ETHERSCAN_API_KEY}" }
